/*---Global---*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
  font-family: sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

/*Multilpy rem value by 10*/
html{
  font-size: 10px;
  font-weight: 100;
}

body{
  background-color: #23705B;
}

h1{
  font-size: 9rem;
  color: #fff;
}

h2{
  font-size: 6rem;
  color: #fff;
}

h3, li{
  font-size: 3rem;
  color: #fff;
}

p{
  font-size: 3rem;
  line-height: 50px;
  margin: auto;
  color: #fff;
  max-width: 800px;
  text-align: left;
}

a{
  text-decoration: none;
  color: #fff;
}

li{
  display: flex;
}

nav{
  margin-top: 100px;
}
nav li{
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 5rem
}

.container{
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.wrapper{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  height: 10vh;
}
.logo{
  max-width: 90px;
}
.bpdLogo{
  max-width: 100%;
  display: grid;
  cursor: pointer;
}
.uxUi{
  font-family: sans-serif;
  float: right;
}

.navItem{
  font-family: sans-serif;
}

.wrapper2{
}

.title{
  margin-top: 80px;
  margin-bottom: 60px;
}
.none{
  color: #fff;
  background: none;
}
.black{
  color: #000;
  background: none;
}
.white{
  color: #fff;
  background: none;
}

/*----Media Query----*/

/*----Mobile----*/
@media screen and (max-width: 600px) {
  body{
  }
  .container{
    width: 80%;
    text-align: center;
  }
  nav{
    margin-top: 50px;
  }
  .navItem{
    padding-top: 30px;
    font-size: 4rem
  }

  .navItems{
    display: grid;
    grid-column:auto;
  }

  .title{
    font-size: 5rem;
  }

  p{
    font-size: 1.98rem;
  }
}

/*----lrgMobile----*/
@media screen and (max-width: 733px) and (min-width: 601px) {
  body{
  }
  .container{
    width: 80%;
  }
  nav{
    margin-top: 30px;
  }
  .navItem{
    padding-top: 50px;
    font-size: 4rem;
  }
  .navItems{
    display: grid;
    grid-column:auto;
  }
  .title{
    font-size: 5rem;
  }

  p{
    font-size: 2.7rem;
  }
}

/*----Tablet----*/
@media screen and (max-width: 889px) and (min-width: 734px) {
  body{
  }
  .container{
    width: 80%;
  }

    nav{
      margin-top: 50px;
    }
    .navItem{
      padding-top: 30px;
      font-size: 5rem
    }
    .navItems{
      display: grid;
      grid-column:auto;
    }
    .title{
      font-size: 6rem;
    }

    p{
      font-size: 3rem
    }
}

@media screen and (max-width: 949px) and (min-width: 890px) {
  body{
  }
  .container{
    width: 80%;
  }

    nav{
      margin-top: 50px;
    }
    .navItem{
      padding-top: 30px;
      font-size: 5rem
    }

    .navItems{
      display: grid;
      grid-column:auto;
    }
    .title{
      font-size: 7rem;
    }

    p{
      font-size: 3rem;
    }
}

/*----Desk----*/
@media screen and (min-width: 950px) {
  nav{
    margin-top: 150px;
  }
}
